body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1b2838, #3c638e);
    color: #2f4965;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    color: #fff;
    margin-bottom: 450px;
    margin-right: 50px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 405px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"].username2,
input[type="password"].password2 {
    width: 383px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background: #1b2838;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: #feb47b;
}